@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

*::before
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img, svg {
    display: block;
    max-width: 100%;
}


